<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  üè´ FIT@HCMUS, VNU-HCM üè´
</div>
<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Lab 02 - Data Visualization 
    <div style="text-align: center; background-color: #0A60BD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
    Working with Time-series data 
</div>

<div style="text-align: center; background-color: #5A96E3; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Stage 2 - Data Preprocessing üìå
</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## About data

### Scenerio
Nh√≥m sinh vi√™n hi·ªán ƒëang th·ª±c hi·ªán m·ªôt d·ª± √°n v·ªÅ chu·ªói th·ªùi gian. Sau khi xem x√©t nhi·ªÅu lƒ©nh v·ª±c kh√°c nhau, nh√≥m quy·∫øt ƒë·ªãnh ch·ªçn d·ªØ li·ªáu v·ªÅ l∆∞u l∆∞·ª£ng h√†nh kh√°ch h√†ng kh√¥ng h√†ng th√°ng ·ªü Hoa K·ª≥ t·ª´ nƒÉm 2000 ƒë·∫øn nƒÉm 2020. B·ªëi c·∫£nh c·ª• th·ªÉ l√† nhu c·∫ßu hi·ªÉu r√µ xu h∆∞·ªõng di chuy·ªÉn b·∫±ng ƒë∆∞·ªùng h√†ng kh√¥ng trong nh·ªØng nƒÉm qua, c≈©ng nh∆∞ t√°c ƒë·ªông c·ªßa c√°c s·ª± ki·ªán quan tr·ªçng nh∆∞ kh·ªßng ho·∫£ng kinh t·∫ø v√† ƒë·∫°i d·ªãch Covid-19 ƒë·ªëi v·ªõi ng√†nh h√†ng kh√¥ng.

### Source and license
Data Source: Bureau of Transportation Statistics  
T·∫≠p d·ªØ li·ªáu n√†y ƒë∆∞·ª£c l·∫•y t·ª´ dataworld, bao g·ªìm nhi·ªÅu t·∫≠p d·ªØ li·ªáu c√¥ng khai. V√¨ v·∫≠y, ch√∫ng ta c√≥ th·ªÉ s·ª≠ d·ª•ng ch√∫ng cho m·ª•c ƒë√≠ch h·ªçc t·∫≠p.s.

### Data collection method
B√°o c√°o t·ª± ƒë·ªông: H·ªá th·ªëng b√°o c√°o t·ª± ƒë·ªông t·ª´ c√°c h√£ng h√†ng kh√¥ng, n∆°i d·ªØ li·ªáu h√†nh kh√°ch ƒë∆∞·ª£c g·ª≠i tr·ª±c ti·∫øp ƒë·∫øn c∆° quan th·ªëng k√™.  
H·ªá th·ªëng ƒë·∫∑t v√© v√† ƒë·∫∑t v√©: S·ª≠ d·ª•ng d·ªØ li·ªáu t·ª´ h·ªá th·ªëng ƒë·∫∑t v√© v√† ƒë·∫∑t v√© c·ªßa c√°c h√£ng h√†ng kh√¥ng ƒë·ªÉ t·ªïng h·ª£p s·ªë l∆∞·ª£ng h√†nh kh√°ch.

## Read data from Website

In [2]:
url = "https://query.data.world/s/foyszeqx4lyy7jhypsie6yusy4lkqz?dws=00000"
df = pd.read_csv(url)

In [3]:
df.head()

,Sum_PASSENGERS,AIRLINE_ID,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME,YEAR,MONTH
0,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,AEX,"Alexandria, LA",LA,Louisiana,US,United States,2015,3
1,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,AFW,"Dallas/Fort Worth, TX",TX,Texas,US,United States,2015,4
2,0,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,ATL,"Atlanta, GA",GA,Georgia,US,United States,2015,3
3,89,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,BOG,"Bogota, Colombia",NaN,NaN,CO,Colombia,2015,1
4,108,NaN,NaN,AEX,"Alexandria, LA",LA,Louisiana,US,United States,BOG,"Bogota, Colombia",NaN,NaN,CO,Colombia,2015,3

**√ù nghƒ©a m·ªói d√≤ng:** M·ªói d√≤ng trong b·∫£ng d·ªØ li·ªáu n√†y ƒë·∫°i di·ªán cho th√¥ng tin v·ªÅ l∆∞·ª£ng h√†nh kh√°ch tr√™n c√°c chuy·∫øn bay c·ª• th·ªÉ, t·ª´ m·ªôt ƒëi·ªÉm xu·∫•t ph√°t (origin) ƒë·∫øn m·ªôt ƒëi·ªÉm ƒë·∫øn (destination) trong m·ªôt kho·∫£ng th·ªùi gian nh·∫•t ƒë·ªãnh (nƒÉm v√† th√°ng).
- C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng? - Kh√¥ng c√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng √Ω nghƒ©a kh√°c nhau

**√ù nghƒ©a c√°c c·ªôt**:  
`Sum_PASSENGERS`: T·ªïng s·ªë h√†nh kh√°ch tr√™n chuy·∫øn bay.  
`AIRLINE_ID`: M√£ s·ªë c·ªßa h√£ng h√†ng kh√¥ng.  
`CARRIER_NAME`: T√™n h√£ng h√†ng kh√¥ng.  
`ORIGIN`: M√£ s√¢n bay xu·∫•t ph√°t.  
`ORIGIN_CITY_NAME`: T√™n th√†nh ph·ªë xu·∫•t ph√°t.  
`ORIGIN_STATE_ABR`: Vi·∫øt t·∫Øt c·ªßa bang xu·∫•t ph√°t.  
`ORIGIN_STATE_NM`: T√™n ƒë·∫ßy ƒë·ªß c·ªßa bang xu·∫•t ph√°t.  
`ORIGIN_COUNTRY`: M√£ qu·ªëc gia xu·∫•t ph√°t.  
`ORIGIN_COUNTRY_NAME`: T√™n qu·ªëc gia xu·∫•t ph√°t.  
`DEST`: M√£ s√¢n bay ƒë√≠ch ƒë·∫øn.  
`DEST_CITY_NAME`: T√™n th√†nh ph·ªë ƒë√≠ch ƒë·∫øn.  
`DEST_STATE_ABR`: Vi·∫øt t·∫Øt c·ªßa bang ƒë√≠ch ƒë·∫øn.  
`DEST_STATE_NM`: T√™n ƒë·∫ßy ƒë·ªß c·ªßa bang ƒë√≠ch ƒë·∫øn.  
`DEST_COUNTRY`: M√£ qu·ªëc gia ƒë√≠ch ƒë·∫øn.  
`DEST_COUNTRY_NAME`: T√™n qu·ªëc gia ƒë√≠ch ƒë·∫øn.  
`YEAR`: NƒÉm th·ª±c hi·ªán chuy·∫øn bay.  
`MONTH`: Th√°ng th·ª±c hi·ªán chuy·∫øn bay.

In [4]:
n_rows=df.shape[0]
n_cols=df.shape[1]
n_rows, n_cols

(6278820, 17)

In [5]:
duplicated_rows = df[df.duplicated()]
len(duplicated_rows)

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6278820 entries, 0 to 6278819
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   Sum_PASSENGERS       int64
 1   AIRLINE_ID           float64
 2   CARRIER_NAME         object
 3   ORIGIN               object
 4   ORIGIN_CITY_NAME     object
 5   ORIGIN_STATE_ABR     object
 6   ORIGIN_STATE_NM      object
 7   ORIGIN_COUNTRY       object
 8   ORIGIN_COUNTRY_NAME  object
 9   DEST                 object
 10  DEST_CITY_NAME       object
 11  DEST_STATE_ABR       object
 12  DEST_STATE_NM        object
 13  DEST_COUNTRY         object
 14  DEST_COUNTRY_NAME    object
 15  YEAR                 int64
 16  MONTH                int64
dtypes: float64(1), int64(3), object(13)
memory usage: 814.4+ MB

## Convert data types

Ta nh·∫≠n th·∫•y `AIRLINE_ID` kh√¥ng ph·∫£i l√† c·ªôt d·∫°ng s·ªë b·ªüi v√¨ ta s·∫Ω kh√¥ng th·ª±c hi·ªán t√≠nh to√°n tr√™n n√≥, v√¨ v·∫≠y ta chuy·ªÉn n√≥ sang d·∫°ng object

In [7]:
df['AIRLINE_ID'] = df['AIRLINE_ID'].astype(str)

Ti·∫øp theo, ta ki·ªÉm tra t·ªâ l·ªá gi√° tr·ªã thi·∫øu ·ªü m·ªói c·ªôt

In [8]:
missing_values = df.isnull().sum()

# Calculate missing ratio for each column
missing_ratio = (missing_values / len(df)) * 100
missing_ratio

Sum_PASSENGERS         0.000000
AIRLINE_ID             0.000000
CARRIER_NAME           0.007135
ORIGIN                 0.000000
ORIGIN_CITY_NAME       0.000000
ORIGIN_STATE_ABR       8.941823
ORIGIN_STATE_NM        8.941823
ORIGIN_COUNTRY         0.000032
ORIGIN_COUNTRY_NAME    0.000000
DEST                   0.000000
DEST_CITY_NAME         0.000000
DEST_STATE_ABR         9.388149
DEST_STATE_NM          9.388149
DEST_COUNTRY           0.000111
DEST_COUNTRY_NAME      0.000000
YEAR                   0.000000
MONTH                  0.000000
dtype: float64

V·ªõi nh·ªØng c·ªôt c√≥ missing value < 1%, ta s·∫Ω x√≥a nh·ªØng d√≤ng thi·∫øu ·ªü c√°c c·ªôt ƒë√≥ v√¨ ƒëi·ªÅu ƒë√≥ √≠t g√¢y ·∫£nh h∆∞·ªüng ƒë·∫øn d·ªØ li·ªáu.

In [9]:
cols_to_drop_na = missing_ratio[missing_ratio < 1].index
df = df.dropna(subset=cols_to_drop_na)

Cu·ªëi c√πng, ki·ªÉm tra xem c√≥ nh·ªØng c·ªôt n√†o tr√πng gi√° tr·ªã v·ªõi nhau hay kh√¥ng

In [10]:
for column in df.columns:
    if df[column].nunique() == 1:
        print("Are all values in '{}' the same".format(column))
        data_df=data_df.drop(column,axis=1)

V·∫≠y l√† kh√¥ng c√≥ c·ªôt n√†o tr√πng gi√° tr·ªã v·ªõi nhau.

## Categorical columns

In [11]:
columns_to_count=['AIRLINE_ID', 'CARRIER_NAME','ORIGIN','ORIGIN_CITY_NAME','ORIGIN_STATE_ABR','ORIGIN_STATE_NM','ORIGIN_COUNTRY','ORIGIN_COUNTRY_NAME','DEST','DEST_CITY_NAME','DEST_STATE_ABR','DEST_STATE_NM','DEST_COUNTRY','DEST_COUNTRY_NAME']
cate_df=df[columns_to_count]
cate_profile={}
def valuecount(col):
    # Count the occurrences of each attribute in the column
    unique_attributes = df[col.name].value_counts().to_dict()
    cate_profile[col.name]= {"num_diff_vals": len(unique_attributes), "distribution": unique_attributes}
cate_df.agg(valuecount)
cate_profile=pd.DataFrame(data=cate_profile,index=["num_diff_vals", "distribution"])

cate_profile

,AIRLINE_ID,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME
num_diff_vals,606,671,3490,3165,67,67,198,198,3728,3375,66,66,207,207
distribution,"{'19393.0': 607779, '19977.0': 355274, '19790....","{'Southwest Airlines Co.': 607779, 'United Air...","{'ORD': 160799, 'ATL': 128433, 'MIA': 125546, ...","{'Chicago, IL': 191992, 'New York, NY': 162023...","{'AK': 596877, 'CA': 453174, 'FL': 452290, 'TX...","{'Alaska': 596877, 'California': 453174, 'Flor...","{'US': 5599556, 'CA': 117492, 'MX': 111882, 'G...","{'United States': 5599556, 'Canada': 117492, '...","{'ORD': 157431, 'ATL': 126761, 'LAX': 123852, ...","{'Chicago, IL': 188127, 'New York, NY': 162406...","{'AK': 598242, 'CA': 456904, 'FL': 433870, 'TX...","{'Alaska': 598242, 'California': 456904, 'Flor...","{'US': 5571134, 'CA': 117899, 'MX': 115527, 'G...","{'United States': 5571134, 'Canada': 117899, '..."

ƒêi·ªÅn gi√° tr·ªã thi·∫øu cho `ORIGIN_STATE_ABR`, `ORIGIN_STATE_NM`, `DEST_STATE_ABR`, `DEST_STATE_NM`. Ta ƒëi·ªÅn b·∫±ng c√°ch th√™m l·ªõp `Unknown` v√¨ nh·ªØng c·ªôt n√†y c√≥ gi√° tr·ªã thi·∫øu l√† l·ªõn so v·ªõi c√°c gi√° tr·ªã kh√°c, n√™n kh√¥ng th·ªÉ l·∫•y gi√° tr·ªã kh√°c ƒëi·ªÅn v√†o v√¨ ƒëi·ªÅu ƒë√≥ s·∫Ω g√¢y m·∫•t c√¢n b·∫±ng ph√¢n b·ªë.

In [12]:
columns_to_fill = ['ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_STATE_ABR', 'DEST_STATE_NM']

for column in columns_to_fill:
    df[column].fillna('Unknown', inplace=True)

In [13]:
df.describe(include='object')[1:]

,AIRLINE_ID,CARRIER_NAME,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ORIGIN_COUNTRY,ORIGIN_COUNTRY_NAME,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,DEST_COUNTRY,DEST_COUNTRY_NAME
unique,606,671,3490,3165,68,68,198,198,3728,3375,67,67,207,207
top,19393.0,Southwest Airlines Co.,ORD,"Chicago, IL",AK,Alaska,US,United States,ORD,"Chicago, IL",AK,Alaska,US,United States
freq,607779,607779,160799,191992,596877,596877,5599556,5599556,157431,188127,598242,598242,5571134,5571134

Nh·∫≠n th·∫•y r·∫±ng `ORIGIN_STATE_ABR` v√† `ORIGIN_STATE_NM`, `ORIGIN_COUNTRY` v√† `ORIGIN_COUNTRY_NAME`,`DEST_STATE_ABR` v√† `DEST_STATE_NM`,`DEST_COUNTRY` v√† `DEST_COUNTRY_NAME` c√≥ th·ªÉ gi·ªëng nhau n√™n ta so s√°nh v·ªÅ m·∫∑t s·ªë l∆∞·ª£ng gi√° tr·ªã, n·∫øu t·∫•t c·∫£ s·ªë l∆∞·ª£ng gi√° tr·ªã ƒë·ªÅu gi·ªëng nhau, ta b·ªè 1 trong 2 c·ªôt ƒë·ªÉ l√†m g·ªçn l·∫°i d·ªØ li·ªáu.

In [14]:
cols_to_drop = []
if (list(cate_profile['ORIGIN_COUNTRY']['distribution'].values()) == list(cate_profile['ORIGIN_COUNTRY_NAME']['distribution'].values())):
    cols_to_drop.append('ORIGIN_COUNTRY')
if (list(cate_profile['ORIGIN_STATE_ABR']['distribution'].values()) == list(cate_profile['ORIGIN_STATE_NM']['distribution'].values())):
    cols_to_drop.append('ORIGIN_STATE_ABR')
if (list(cate_profile['DEST_STATE_ABR']['distribution'].values()) == list(cate_profile['DEST_STATE_NM']['distribution'].values())):
    cols_to_drop.append('DEST_STATE_ABR')
if (list(cate_profile['DEST_COUNTRY']['distribution'].values()) == list(cate_profile['DEST_COUNTRY_NAME']['distribution'].values())):
    cols_to_drop.append('DEST_COUNTRY')    
df.drop(columns=cols_to_drop, inplace=True)

## Numerical columns

In [15]:
numeric_col_profile = df.describe()[1:].round(1)
numeric_col_profile

      Sum_PASSENGERS    YEAR  MONTH
mean          2701.8  2010.1    6.5
std           5767.6     5.7    3.5
min              0.0  2000.0    1.0
25%              6.0  2005.0    3.0
50%            227.0  2010.0    6.0
75%           3027.0  2015.0    9.0
max         163764.0  2020.0   12.0

In [16]:
missing_values = df.isnull().sum()

# Calculate missing ratio for each column
missing_ratio = (missing_values / len(df)) * 100
missing_ratio

Sum_PASSENGERS         0.0
AIRLINE_ID             0.0
CARRIER_NAME           0.0
ORIGIN                 0.0
ORIGIN_CITY_NAME       0.0
ORIGIN_STATE_NM        0.0
ORIGIN_COUNTRY_NAME    0.0
DEST                   0.0
DEST_CITY_NAME         0.0
DEST_STATE_NM          0.0
DEST_COUNTRY_NAME      0.0
YEAR                   0.0
MONTH                  0.0
dtype: float64

## Save processed data

In [17]:
df.to_csv('..\data\Processed.csv', index=False)